#!/bin/execlineb -P
{% if s6_service_enable_logs %}
fdmove -c 2 1

{% endif %}
{{ s6_service_pre_exec }}

{% for dep in s6_service_dependencies %}
foreground { s6-svwait -u {{ s6_service_services_dir }}/{{ dep }} }

{% endfor %}
{% if s6_service_env | length > 0 %}
s6-envdir {{ s6_service_envdir }}

{% endif %}
{% if s6_service_create_user %}
s6-setuidgid {{ s6_service_user_name }}

{% endif %}
{% if s6_service_workdir is defined and s6_service_workdir is string and s6_service_workdir | trim | length > 0 %}
cd {{ s6_service_workdir }}

{% endif %}
{{ s6_service_command }}
